* {
  margin: 0;
  padding: 0%;
  /* background-color: black; */
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
}

body{
  background-color: black;
}

nav ul {
  display: flex;
  height: fit-content;
  align-items: center;
  list-style-type: none;
  padding: 10px;
}

nav ul li {
  padding-right: 12px;
}

.logo img {
  width: 50px;
}

.container {
  margin: 20px 40px;
}

.container h2{
  font-size: larger;
}

.icons svg {
  height: 50px;
  width: auto;
  margin:12px;
}
.icons svg{
  fill: white;
  cursor: pointer;
}

.icons svg:hover{
  fill: lightgray;
}


.bottom {
  position: fixed;
  bottom: 5px;
  left: 0px;
  right:0px;
}

#progressBar {
  width: 80vw;
  cursor: pointer;
}

.icons{
  height: 100px;
  display:flex;
  justify-content: center;
}

.range{
  display: flex;
  justify-content: center;
  align-items: center;
}

.songList ul{
  list-style-type: none;
  margin-top: 20px; 
  background-color: gray ;
}

.songItem{
  margin-top: 20px;
  display:flex;
  justify-content: space-between;
  background-color: gray !important;
  border-radius: 13px;
  align-content: center;
}
/* Needs to be vertically aligned */
/* .songItem div{
  margin: 10px;
  margin-left: 10px;
  vertical-align: middle;
  background-color: gray;
} */

.image-title{
  display: flex;
  justify-content: left;
}

.songIMG{
  height: 40px;
  margin: 10px;
  align-self: center;
}

.songName{
  display:flex;
  flex-direction: column;
  justify-content: center;
  background-color: gray;
  margin: 10px;
}

.img-icons{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2.5vw;
  color: red;
}

.img-icons svg{
  height:30px;
  background-color:gray;
  fill:white;
  right:0;
  cursor: pointer;
}

.img-icons svg :hover{
  fill:lightgray;
}

/* #play-btn{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2.5vw;
} */

/* #pause-btn{
  display:flex;
  flex-direction: column;
  justify-content: center;
  margin-right: 2.5vw;
} */

/* #pause-btn svg{
  height:30px;
  background-color:gray;
  fill:white;
  right:0;
  cursor: pointer;
} */

/* #play-btn svg{
  height:30px;
  background-color:gray;
  fill:white;
  right:0;
  cursor: pointer;
} */

.item-none{
  display:none;
}

.none{
  display:none;
}

.songInfo{
  position: absolute;
  left: 10vw;
  margin-top: 20px;
}

.songInfo img{
  width: 70px;
}