* {
  margin: 0;
  padding: 0%;
  background-color: black;
  color: white;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  font-size: large;
}

nav ul {
  display: flex;
  height: fit-content;
  align-items: center;
  list-style-type: none;
  padding: 10px;
}

nav ul li {
  padding-right: 12px;
}

.logo img {
  width: 50px;
}

.container {
  margin: 20px 40px;
}

.container h2{
  font-size: larger;
}

.icons svg {
  height: 50px;
  width: auto;
  margin:12px;
}
.icons svg{
  fill: lightgray;
  cursor: pointer;
}

.icons svg:hover{
  fill: white;
}


.bottom {
  position: fixed;
  bottom: 5px;
  left: 0px;
  right:0px;
}

#progressBar {
  width: 80vw;
  cursor: pointer;
}

.icons{
  height: 100px;
  display:flex;
  justify-content: center;
}

.range{
  display: flex;
  justify-content: center;
  align-items: center;
}

.songList ul{
  list-style-type: none;
  margin-top: 20px; 
}

.songItem{
  margin-top: 20px;
  display:flex;
  background-color: gray;
  border-radius: 13px;
  align-content: center;
}
/* Needs to be vertically aligned */
.songItem div{
  margin: 10px;
  /* margin-left: 10px; */
  vertical-align: middle;
  background-color: gray;
}

.songItem img{
  height: 40px;
  margin: 10px;
  align-self: center;
}

.playBtn svg{
  height:40px;
  background-color:gray;
  fill:white;
  right:0;
  cursor: pointer;
}

.songInfo{
  /* margin-bottom:20px; */
  /* position:absolute; */
  left: 10vw;
}

.songInfo img{
  width: 70px;
}